{% extends 'usuarios/base.html' %}
{% load static %}

{% block aba %}Alterar Cardápio{% endblock %}

{% block titulo %}Alterar Itens do Cardápio{% endblock %}

{% block conteudo %}
<h3>Itens cadastrados</h3>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Foto</th>
            <th>Opções</th>
        </tr>
        {% for item in lista_itens %}
        <tr>
            <td>{{ item.titulo }}</td>
            <td>{{ item.descricao }}</td>
            <td>R$ {{ item.valor }}</td>
            <td><img src="{{ item.foto.url }}" width="60"></td>
            <td>
                <a href="{% url 'editar_verificacao' item.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_verificacao' item.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="5">Nenhum item encontrado</td></tr>
        {% endfor %}
    </table>
</div>
{% endblock %}