{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block aba %}Cafe Maneiro{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'img/fundo.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }
        body::before {
            content: "";
            position: fixed; /* fica fixo atrás do conteúdo */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.90); /* branco com 50% de transparência */
            z-index: -1; /* atrás do conteúdo */
        }
    </style>
</head>
<body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg" style="background-color: #3a4a58;">
            <style>
                .navbar a {
                    color: white !important;
                }
            </style>
            <div class="container px-5">
                <a class="navbar-brand text-white" href="{% url 'home' %}" style="font-family: Caveat, sans serif;">Café Maneiro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'home' %}">Página Inicial</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Sobre</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Contato</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endblock %}


        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Call to Action-->
            <div class="card text-white my-5 py-4 text-center" style="background-color: #3a4a58;">
                <div class="card-body">
                    <p class="text-white m-0">
                        {% block titulo %} Seja Bem-vindo ao portal de notas. Aqui você encontrará todos os dados das suas disciplinas. {% endblock %}
                    </p>
                </div>
            </div>

            <!--conteúdo da linha-->
            <div class="row gx-4 gx-lg-5">
                {% block conteudo %}
                <div class="col-md-4 mb-5">
                    <div class="card h-100" style="background-color: #d3d3d3;">
                        <div class="card-body" style="background-color: #ffffff;">
                            <h2 class="card-title">Cadastrar Item</h2>
                            <p class="card-text">Nesta opção você podera lançar todas as notas referente as suas disciplinas, discriminando todos os detalhes dos respectivos alunos, inclusive excluir alguma nota</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'lancar' %}">Clique aqui</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100" style="background-color: #d3d3d3;">
                        <div class="card-body" style="background-color: #ffffff;">
                            <h2 class="card-title">Alterar Item</h2>
                            <p class="card-text">Nesta opção você poderá alterar todas as notas já lançadas referente ás suas disciplinas</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'alterar' %}">Clique aqui</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100" style="background-color: #d3d3d3;">
                        <div class="card-body" style="background-color: #ffffff;">
                            <h2 class="card-title">Visualizar Notas</h2>
                            <p class="card-text">Nesta opção você poderá visualizar todas as notas referente as suas disciplnas.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'visualizar' %}">Clique aqui</a></div>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <!-- Footer-->
        <footer class="fixed-bottom" style="background-color: #3a4a58;">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Diário de Notas 2025</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
</body>
</html>