{% extends 'usuarios/base.html' %}
{% load static %}

{% block aba %}Café Maneiro{% endblock %}

{% block titulo %}Entre em Contato Conosco{% endblock %}

{% block conteudo %}
<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-4">
        <div class="card menu-card h-100 shadow-lg border-0 rounded-4 text-center p-4" style="min-height: 230px; justify-content: center;">
            <h4 class="card-title mb-4">
                <i class="bi bi-telephone-fill me-2"></i> 
                Telefone
            </h4>
            <p>(69) 92232-3322</p>
            <p>(69) 93244-3343</p>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card menu-card h-100 shadow-lg border-0 rounded-4 text-center p-4" style="min-height: 230px; justify-content: center;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h4 class="card-title mb-4">
                    <i class="bi bi-geo-alt-fill me-2"></i>
                    Endereço
                </h4>
                <p>Av. Pinheiro Machado, 2040</p>
                <p>São Cristóvão</p>
            </div>
        </div>
    </div>
    
    <div class="col-md-4 mb-4">
        <div class="card menu-card h-100 shadow-lg border-0 rounded-4 text-center p-4" style="min-height: 230px; justify-content: center;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h4 class="card-title mb-4">
                    <i class="bi bi-clock-fill me-2"></i>
                    Horário de Funcionamento
                </h4>
                <p>Segunda a Sexta: 10:00 às 22:00</p>
                <p>Sábado: 12:00 às 16:00</p>
            </div>
        </div>
    </div>
    <div class="mapa-container mb-5" style="margin-top: 20px; width: 100%; height: 400px;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.30373103464!2d-63.89744302593317!3d-8.757466789404626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92325ccf5efcf089%3A0x7dd372fd1493bcfc!2sAv.%20Pinheiro%20Machado%2C%202040%20-%20S%C3%A3o%20Crist%C3%B3v%C3%A3o%2C%20Porto%20Velho%20-%20RO%2C%2076804-046!5e0!3m2!1spt-BR!2sbr!4v1753136144957!5m2!1spt-BR!2sbr" 
        width="100%" 
        height="100%" 
        style="border:0; border-radius: 15px;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">></iframe>
    </div>       
</div>
{% endblock %}