{% extends 'usuarios/base.html' %}
{% load static %}

{% block aba %}Editar Item{% endblock %}

{% block titulo %}Editar Item do Cardápio{% endblock %}

{% block conteudo %}
<h3>Edição do item selecionado</h3>
<hr>
<form action="{% url 'editar' item.pk %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mb-3">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" class="form-control" value="{{ item.titulo }}">
    </div>
    <div class="form-group mb-3">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" class="form-control">{{ item.descricao }}</textarea>
    </div>
    <div class="form-group mb-3">
        <label for="valor">Valor:</label>
        <input type="number" id="valor" name="valor" class="form-control" step="0.01" value="{{ item.valor }}">
    </div>
    <div class="form-group mb-3">
        <label for="foto">Atualizar Foto:</label>
        <input type="file" id="foto" name="foto" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'alterar' %}" class="btn btn-danger">Cancelar</a>
</form>
{% endblock %}