{% extends 'usuarios/base.html' %}
{% load static %}

{% block aba %}Excluir Item{% endblock %}

{% block titulo %}Excluir Item do Cardápio{% endblock %}

{% block conteudo %}
<h3>Deseja realmente excluir o item abaixo?</h3>
<hr>
<p><strong>{{ item.titulo }}</strong></p>
<p>{{ item.descricao }}</p>
<img src="{{ item.foto.url }}" width="100">
<div class="mt-3">
    <a href="{% url 'excluir' item.pk %}" class="btn btn-success">Sim</a>
    <a href="{% url 'alterar' %}" class="btn btn-danger">Não</a>
</div>
{% endblock %}