{% extends 'usuarios/base.html' %}
{% load static %}

{% block aba %}Visualizar Cardápio{% endblock %}

{% block titulo %}Cardápio Completo{% endblock %}

{% block conteudo %}
<h3>Itens do Cardápio</h3>
<hr>
<div class="row">
    {% for item in lista_itens %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ item.foto.url }}" class="card-img-top" alt="{{ item.titulo }}">
            <div class="card-body">
                <h5 class="card-title">{{ item.titulo }}</h5>
                <p class="card-text">{{ item.descricao }}</p>
                <p class="card-text fw-bold">R$ {{ item.valor }}</p>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Nenhum item encontrado.</p>
    {% endfor %}
</div>
{% endblock %}
